<div class="container">
  <div class="row">
    <h4 class="bg-light">会員情報編集</h4>
  </div>
  <div class="row">
    <%= form_with model: @customer, url: customer_session_path, local:true do |f| %>
    <table>
      <tr>
        <th><%= f.label :name, "氏名" %></th>
        <td>  <%= f.text_field :last_name, autofocus: true %> <%= f.text_field :first_name, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :name_kana, "フリガナ" %></th>
        <td><%= f.text_field :last_name_kana, autofocus: true %> <%= f.text_field :first_name_kana, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :postal_code, "郵便番号" %></th>
        <td><%= f.text_field :postal_code, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :address, "住所" %></th>
        <td>  <%= f.text_field :address, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :telephone_number, "電話番号" %></th>
        <td><%= f.text_field :telephone_number, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.text_field :email, autofocus: true %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "編集内容を保存", class: "btn btn-sm btn-success" %></td>
        <td><%= link_to '退会する', customers_quit_path, class: "btn btn-sm btn-danger" %></td>
      </tr>
    </table>
    <% end %>
  </div>
