<div class="container">
  <h4 class-"bg-light">管理者ログイン</h4>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
      <tr>
        <th><%= f.label :email, "メールアドレス" %><br /></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %><br /></th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </table>
    <% end %>
  </div>
</div>
