<div class="container">
  <div class="row">
    <h4 class="bg-light">商品一覧</h4>
    <div class="col align-right">
      <%= link_to '+', new_admin_product_path, class: "btn btn-secondary rounded-circle" %>
    </div>

    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |products| %>
        <tr>
          <td><%= products.id %></td>
          <td><%= link_to products.name, admin_product_path(products) %></td>
          <td><%= products.price %></td>
          <td><%= products.genre.name %></td>
        </tr>
         <% end %>
      </tbody>
    </table>
  </div>
</div>


