<div class="container">
  <h4 class="bg-light">商品詳細</h4>
  <div class="row">
    <dvi class="col-5">
      <%= attachment_image_tag @product, :image, :fill, 300, 200  %>
    </dvi>
    <div class="col-7">
      <table>
        <tr>
          <th>商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @product.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格</br>(税抜価格)</th>
          <td><%= @product.add_tax_price.to_s(:delimited) %>(<%= @product.price %>)</td>
        </tr>
      </table>
      <%= link_to '編集する', edit_admin_product_path(@product), class: "btn btn-success" %>
    </div>
  </div>
</div>
